
body {
  display: grid;
  grid-template-columns: 2fr; 
  gap: 10px;
}

figure {
  border-radius: 50%; 
  margin: 0;
}

@media (min-width: 772px) {
  body {
    grid-template-columns: repeat(4, 1fr);
  }

  figure:last-child {
    grid-column: span 2; 
  }

  figure {
    border-radius: 50%; 
  }
}

@media (min-width: 992px) {
  body {
    grid-template-columns: repeat(4, 1fr);
  }

  figure:nth-child(4n) {
    grid-column: span 5;
  }

  figure {
    border-radius: 1; 
  }
}


@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto; 
  }
}

@media (prefers-color-scheme: dark) {
  figure {
    background-color: #343; 
    color: #f0e68c;
    border: 3px solid black;
  }
}
